.page {
    display: flex;
    width: 100vw;
    flex-direction: row;
}

.landingPageDiv {
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: width ease 0.4s;
}

.settingClosed {
    width: 100vw;
}

.settingOpened {
    width: calc(100vw - min(30vw, 350px));
}

.landingPageDiv::-webkit-scrollbar {
  display: none;
}

.allowScrolling {
  overflow-y: auto;
  scroll-snap-type: y mandatory; 
}

.noScrolling {
  overflow-y: hidden;
}

section {
    height: 70vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding-top: 48px;
}

.centerContents {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heroSocials {
    flex: 0;
    z-index: 1;
}

h1 {
    margin: 0px;
    text-align: center;
}

p {
    margin: 0px;
}

.heroFadeIn * {
    opacity: 0;
    transform: translateY(40px);
    will-change: opacity, transform;
    animation: fadeInUp 0.8s ease forwards;
}

.heroFadeIn1 { animation-delay: 0.1s; }
.heroFadeIn2 { animation-delay: 0.6s; }
.heroFadeIn3 { animation-delay: 0.9s; }
.heroFadeIn4 { animation-delay: 1.1s; }
.heroFadeIn5 { animation-delay: 1.3s; }
.heroFadeIn6 { animation-delay: 1.4s; }
.heroFadeIn7 { animation-delay: 1.5s; }
.heroFadeIn8 { animation-delay: 1.6s; }


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.name_hi {
    text-align: start;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #2c2c2c;
}

.box {
    position: relative;
    padding: 0.6rem;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--button-background);
    border: 1px solid var(--button-border);
    border-radius: 0.7rem;
    transition: all ease 0.2s;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.box svg {
    fill: var(--secondary);
    width: 3rem;
    height: 3rem;
}

.box:hover {
    box-shadow: 0px 0px 20px 1px var(--button-shadow);
    border: 1px solid var(--button-border-hover);
    cursor: pointer;
}

#toColapse {
    display: flex;     
}


.wrapped .toCenterWhenSmall {
    text-align: center;
    justify-content: center;
}

.wrapped .name_hi {
    text-align: center;
    justify-content: center;
}

.wrapped #toColapse {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fillSpace {
    flex: 1;
}

h2 {
    width: 100%;
    display: flex;
    text-align: start;
    color: var(--primary);
}