.page {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.landingPageDiv {
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
}

.landingPageDiv::-webkit-scrollbar {
  display: none;
}

.allowScrolling {
  overflow-y: auto;
  scroll-snap-type: y mandatory; 
}

.noScrolling {
  overflow-y: hidden;
}

section {
    height: 70vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding-top: 48px;
}

.centerContents {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heroSocials {
    flex: 0;
}

h1 {
    margin: 0px;
    text-align: center;
}

p {
    margin: 0px;
}

.name_hi {
    text-align: start;
}

.box {
    padding: 0.6rem;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0.7rem;
    transition: all ease 0.2s;
    justify-content: center;
    align-items: center;
}

.box svg {
    fill: var(--secondary);
    width: 3rem;
    height: 3rem;
}

.box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
    cursor: pointer;
}

#toColapse {
    display: flex;     
}


.wrapped .toCenterWhenSmall {
    text-align: center;
    justify-content: center;
}

.wrapped .name_hi {
    text-align: center;
    justify-content: center;
}

.wrapped #toColapse {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fillSpace {
    flex: 1;
}

h2 {
    width: 100%;
    display: flex;
    text-align: start;
    color: var(--primary);
}