.cardsBoxesDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.card-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s var(--delay) ease-out, transform 0.5s var(--delay) ease-out;
}

.card-animate.animate-in {
  opacity: 1;
  transform: translateY(0);
}