.setting {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar {
  width: 80%;
  height: 4px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
  transition: all 0.4s ease;   
}

.bar2 {
    transform-origin: right;
    transform: scaleX(1);
}

.setting input:not(:checked) ~ .bar::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--background);
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--primary);
  transition: all 0.5s;
}

.setting input:not(:checked) ~ .bar::after {
  background-color: transparent;
}

.bar1::before, .bar3::before {
  transform: translateX(-4px);
}

.bar2::before {
  transform: translateX(4px);
}

.setting:hover .bar1::before, .setting:hover .bar3::before {
  transform: translateX(4px);
}

.setting:hover .bar2::before {
  transform: translateX(-4px);
}

.bar1.active {
    transform: rotate(45deg);
}

.setting input {
    display: none;
}

.setting input:checked ~ .bar1 {
    transform: rotate(-45deg) translateY(12.8px) translateX(-4px);
}

.setting input:checked ~ .bar2 {
    transform: scaleX(0);
}

.setting input:checked ~ .bar3 {
    transform: rotate(45deg) translateY(-12.8px) translateX(-4px);
}