.asignSpace{
    height: 100vh;
    width: 30vw;
    display: flex;
    transition: width 0.4s ease;
    max-width: 350px;
}

.notActiveSpace {
    width: 0;
}

.activeSpace {
    width: 30vw;
}

.panel {
    height: 100vh;
    width: 30vw;
    display: flex;
    background-color: transparent;
    transition: right 0.4s ease;  
    z-index: 1;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    right: -30vw;
    display: flex;
    max-width: 350px;
}

.notActive {
    right: -30vw;
}

.active {
    right: 0;
}

.SettingPanelP {
    font-size: 0.95rem;
}

.contents {
    height: 100%;
    background-color: var(--button-background);
    border: 1px solid var(--button-border);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0.7rem;
}

.settingPanelh3 {
    color: var(--primary);
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.arrow {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}

.dropdown {
    margin: 5px;
}

.dropdown-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    color: var(--primary);
    border: none;
    border-radius: 1rem;
    border: 1px solid var(--button-border);
    font-size: 1rem;
}

.dropdown-title:hover {
    box-shadow: 0px 0px 20px 1px var(--button-shadow);
    border: 1px solid var(--button-border-hover);
    cursor: pointer;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease, border 0.4s ease;
    padding: 0 12px;   
    border: 1px solid var(--border);
    border-radius: 1rem;
    align-items: start;
    justify-content: center;
}

.dropdown-content.open {
    max-height: 80vh;
    padding: 1rem;
    border: 1px solid var(--button-border);
    margin-top: 2px;
}

#settingsDiscribtion {
    padding: 1rem;;
}

.sliderSettingsInput {
    display: flex;
    padding: 5px;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin: 0.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: 1px solid var(--button-border);
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: .4s;
    border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 0.1em;
    border-radius: 0px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
}

input:checked + .slider:before {
    transform: translateX(2.8em) rotate(360deg);
}

.settingsRestartButton {
    --color2: rgb(10, 25, 30);
    width: 100%;
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--secondary);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--secondary);
}

.settingsRestartButton::after, .settingsRestartButton::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--secondary);
}

.settingsRestartButton::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.settingsRestartButton:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.settingsRestartButton:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.settingsRestartButton:hover {
    color: var(--color2);
}

.settingsRestartButton:active {
    filter: brightness(.7);
    transform: scale(.98);
}