html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar {
  display: none;
}


#body::-webkit-scrollbar {
  display: none;
}

#root::-webkit-scrollbar {
  display: none;
}

.allowScrolling {
  overflow-y: auto;
}

.noScrolling {
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    display: flex;
    height: 80vh;
    width: 100%;
    flex-direction: row; 
}

.column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {  
  font-size: 6rem;
  opacity: 0.95;
  color: var(--primary);
  font-family: 'Oxanium', sans-serif;
  display: flex;
}

p {
  font-size: 1rem;
  opacity: 0.95;
  color: var(--primary);
  font-family: 'Lexend', sans-serif;
  display: flex;
}

